/* Color variables */
:root {
  --medcrypt-dark-blue: #00264d;
  --medcrypt-light-blue: #1dafed;
  --medcrypt-gray: #beccda;
  --medcrypt-white: #fdfefe;
  --medcrypt-link-hover: #a98bff;
}

/* Resets */
html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* General Styling */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  transition: 0.3s;
}

.container {
  padding: 0 5%;
}

section.container {
  margin-top: 10px;
  margin-bottom: 25px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h3 a {
  color: black;
}

small {
  font-size: 1.5rem;
}

header,
footer {
  display: flex;
  background: var(--medcrypt-dark-blue);
  color: var(--medcrypt-white);
  min-height: 75px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--medcrypt-link-hover);
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: var(--medcrypt-light-blue);
}

.btn:hover {
  background-color: var(--medcrypt-link-hover);
}

/* Header & Footer styling */

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 99999;
}

header,
Footer {
  background: var(--medcrypt-dark-blue);
  color: var(--medcrypt-white);
}

header a,
Footer a {
  color: var(--medcrypt-white);
}

/* Card styling */

section.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  align-items: flex-start;
}
.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  min-width: 45%;
  max-height: 500px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--medcrypt-gray);
  transition: 0.3s;
  margin-bottom: 5%;
}

.news-card:hover {
  box-shadow: 0 0 10px var(--medcrypt-light-blue);
}

.news-card-header,
.news-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.news-card-header {
  max-width: 100%;
  min-height: 50%;
  border-radius: 5px;
  /* align-items: space-between; */
  margin-bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--medcrypt-gray);
}

.news-card-header .image-wrapper {
  padding: 0;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.image-wrapper img {
  min-height: 100%;
  min-width: 100%;
}

.news-card-header h3 {
  margin: 25px 10px 0 10px;
  min-height: 75px;
  max-height: 75px;
  overflow: auto;
}

.news-card-body {
  justify-self: flex-start;
  align-self: flex-start;
  padding: 0;
  margin: 0 10px;
  min-height: 25%;
  font-size: 1.5rem;
}
.news-card-footer .btn {
  margin-top: 10px;
}

.news-card-footer .btn a {
  font-size: 2rem;
  color: var(--medcrypt-white);
}

.news-card-footer {
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* Footer styling */
/*Scroll back up button */
/* .top { */
/*   text-decoration: none; */
/*   padding: 10px; */
/*   font-family: sans-serif; */
/*   color: #fff; */
/*   background: #000; */
/*   border-radius: 100px; */
/*   position: sticky; */
/*   bottom: 20px; */
/*   --offset: 100px; */
/*   margin-top: calc(100vh + var(--offset)); */
/* } */
